.body {
    text-align: left;
    border-radius: 0.2vh;
    margin-bottom: -0.5rem;
    transition: 0.2s;
    padding: 10px;
}

.body:hover {
    background-color: rgba(255, 255, 255, 0.364);
}

.content {
    font-size: 20px;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    font-size: 15px;
    margin-top: 10px;
}

.usernameBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.username {
    text-indent: 0.6rem;
    font-size: 0.9rem;
    font-family: Helvetica;
}

.img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px 0px 0px 10px;
}

.reviewContainer {
   margin: 10px;
}

.title {
    color:rgb(51, 51, 51);
    font-size: 18px;
    width: fit-content;
    text-indent: 0.5rem;
    margin-bottom: -1rem;
}