

.body {
   
    text-align: left;
    
    border-radius: 0.2vh;
    margin-bottom: -0.5rem;
    transition: 0.2s;
}
.body:hover {
    background-color: rgba(255, 255, 255, 0.364);
}

.content {
    font-size: 20px;
    margin-left: 0.5rem;
    padding-bottom: 1rem;
    font-size: 15px;
}

.usernameBody {
    display: flex;
    flex-direction: row;
    
    height: 2.2rem;
}
.username {
    text-indent: 0.6rem;
    font-size: 0.9rem;
    font-family: Helvetica;
}
.img {
    height: 4rem;
    width: 4rem;
    
}
.rating {
   
 margin-top: 1.2rem;
}
.title {
    color:rgb(51, 51, 51);
    margin-top:-1rem;
    font-size: 18px;
    width: fit-content;
    text-indent: 0.5rem;
    margin-bottom: -1rem;
 
}