.button{
    background-color: rgba(72, 162, 197, 0.795);
    margin: 10px
}


.container {
    width: 280px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

.containerForm {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerner h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #777;
}

.containerner label {
    color: #777;
    font-size: 0.8em;
}

.containerner input {
    margin-bottom: 15px;
}

.inputsdsadas {
    display: block;
    height: 32px;
    padding: 6px 6px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

.errors {
    color: red;
    font-size: 0.8em;
    margin-bottom: 15px;
    text-align: center;
}