z#root {
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'manrope-regular';
  src: local('Manrope'), url(./assets/fonts/manrope-bold.otf) format('opentype');
}

@font-face {
  font-family: 'oktaneue-regular';
  src: local('Oktaneue'), url(./assets/fonts/oktaneue-blackitalic-webfont.woff) format('opentype');
}


body {
  /* background-color: rgb(250, 206, 206); */
  /* background-color: rgb(242, 212, 235); */
/*   background: rgb(147,85,139);
   background: linear-gradient(90deg, rgba(147,85,139,1) 20%, rgba(205,212,36,1) 100%); */

  background-color: #d7dcdf;

}

html, body {
  max-width: 100%; 
  overflow-x: hidden; 
}

input:focus{
  outline: none;
}
