/* .btn{
    z-index: 105;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    background: none;
    color: black;
    border: black solid;
    font-family: manrope-regular;
}
 */
.btn {
    margin-top: -4rem;
    border: solid black;
    background: none;
    color:black;
    /* border-radius: 0.2vh; */
    font-family: manrope-regular;
    width: 20.4rem;
    user-select: none;
    font-size: 15px;
}

.logo {
    height: 25px;
    position: inherit;
    margin-bottom: -0.3rem;
    margin-left: -3rem;
}   