.bodyContainer {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
}

.separator {
    /*margin-bottom: 2rem;*/
}

.featuredContainer {
    display: flex;
    position: relative;
}

.featuredWrapper {
    display: flex;
    max-height: 86vh;
}

.featuredLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: #665A48;
}

.leftContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 48px;
    height: 100%;
}

.leftContents p {
    display: flex;
    margin: 0;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #EDE4E0;
}

.titleContainer {
    padding: 0;
    margin-bottom: 8px;
}

.titleContainer h1 {
    font-size: 80px;
    letter-spacing: -0.8px;
    line-height: 96px;
    color: black;
    display: flex;
    text-align: start;
}

.buttonContainer {
    margin-top: 32px;
    margin-bottom: 16px;
}

.buttonContainer a {
    text-decoration: none;
}

.buttonDesc {
    height: 64px;
    font-size: 20px;
    background-color: #594545;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.imgContainer {
    width: 50%;
}

.imgContainer img {
    width: -webkit-fill-available; 
    height: -webkit-fill-available; 
    object-fit: cover
}

.downContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*padding: 2rem 0;*/
}

.bestRated {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: #9E7676;
}

.separatorTitle {
    margin-bottom: 1rem
}

.bestRatedProducts {
    display: flex;
    justify-content: center;
    width: 100%;
}

.categories {
    background-color: #815B5B;
    padding: 80px 0;
}

.categories h1 {
    padding-bottom: 2.5rem;
}

.categoriesLink {
    display: flex;
    justify-content: center;
}





