.btn_container {
    text-align: center;
    margin-bottom: 3rem;
}

.control_btn {
    font-size: 18px;
    text-align: center;
    border-radius: 0.2vh;
}
.counter_output {
    font-size: 30px;
    margin: 0.5rem 0.5rem;
    background-color: white;
    padding: 0.1rem 0.5rem 0.7rem 0.5rem;
}

.reset {
    font-size: 18px;
    margin-left: 1rem;
    border-radius: 0.2vh;
    
}