
html, body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}


.header {
  justify-content: center;
  font-size: 25px;
  font-family: manrope-regular;
}

.contact {
  display: flex;
  flex-direction: row;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
  background: #f5b335;
  height: 10rem;
  transition: bottom 0.2s ease-in-out;

}
.bodyLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyLinks a {
  color:rgb(255, 255, 255);
}
.bodyLinks a:hover {
  color:black;
}




