.container input {
    background-color: #e6e4e4;
    color: #b1b1b1;
    text-indent: 0.3rem;
    font-family: Helvetica;
    font-size: 20px;
    border-style: none;
    border: none;
    border-color: none;
    position: relative;
    border-radius: 0.2vh;
    transition: 0.3s;
}
.container input:focus {
    transition: 0.3s;
    width: 300px;
    height: 2rem;
    position: absolute;
    margin-left: -20rem;
    padding: 0 16px 0 0;
    color:black;
}

.container button {
    background: none;
    /*position: absolute;*/
    
    padding: 0 0px;
    height: -webkit-fill-available;
    border: none;
}

.container button:hover {
    outline: none;
}