.filterContainer {
    margin: 3rem 0;
    width: 20%;
    color: #383d42
}

.categoriesFilter {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    
}

.categoriesFilter select {
    background-color: #121212;
    color: azure;
    margin-bottom: 18px;
    border: 1px solid #383d42;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    appearance: none;
    cursor: pointer;
}

.categoriesFilter h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.priceFilter {
    margin: 2rem 1rem;
}

.priceFilter h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.priceFilter input {
    width: 100%;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
}

.priceFilter h3 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 17px;
}

@media (max-width: 1000px) {
    .filterContainer {
        display: none;
    }
}