.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin-right: 10rem;
    width: 80rem;
    padding: 2rem 0;
    padding-top: 0; 
        /* background: rgb(147,85,139);
    background: linear-gradient(90deg, rgba(147,85,139,1) 20%, rgba(205,212,36,1) 100%); */
}

.noResults {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

/*Pagination styles placeholder*/

.paginator {
    margin: 20px 0px;
    margin-top: 2rem;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}

.page {
    margin: 3px 3px;
    /*padding: 12px 16px 12px 16px;*/
    font-weight: normal;
    border: 1px solid #EAEAEA;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    
}

.page a {
    display: block;
    margin: 3px 3px;
    padding: 12px 16px 12px 16px;
    color: #242424;
}

.page:hover {
    background-color: #242424;
}

.page:hover a {
    color:white;
}

.active {
    background-color: #242424;
    color: white;
    display: inline-block;
    margin: 3px 3px;
    font-weight: normal;
    border: 1px solid #EAEAEA;
    text-decoration: none;
}

.active a {
    color: white
}

.disabled {
    display: none;
}