body, html {
    width: auto;
}

.productContainer {
    display: flex;
  /*   margin: 5em 13em 1em; */
    justify-content: center;
    margin-top: 11rem;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.imgContainer {
    box-shadow: 0px 5px 6px 0px #94929242;
    width: max-content;
    height: 37.5rem;


   

}

.imgContainer img {
    height: 600px;
    width: 500px;
    object-fit: cover;

    position: fixed;
}

.rightData {
    display: flex;
    flex-direction: column;
    margin-left: 32rem;
    
    margin-top: -2.2rem;
    padding-left: 3.5rem;
}
.title {
    margin-bottom: -2rem;
}
.price {
    margin-bottom: 1rem;

}
.rating {
    margin-left: -0.4rem;
    margin-bottom: 2rem;
}

.description {
    text-align: left;
    font-size: 12px;
    width: 30rem;
    height: 12.4rem;
    margin-bottom: 4.1rem;

}
.amount {
    margin-bottom: 1rem;


    height: 2.7rem;

}
.addToCart {
    height: 1rem;
    background: none;
    border: black solid;
    color: black;
    border-radius: 0.2vh;
    width: 31rem;
    padding-bottom: 3.3rem;
    border-radius: 0.2vh;   
    box-shadow: 0px 5px 6px 0px #94929242;
}
.addToCart:hover {
    border: white solid;
}


.reviewsHeader {
    font-size: 18px;
    text-align: left;
}
.reviews {
    margin-top: 5rem;
/*  margin-top: 80rem;
    position: absolute; */
    font-family: Helvetica;
    margin-top: 2rem;
    width: 34.8rem;    
    padding-bottom: 6rem;
    

}