body, html {
    width: auto;
    height: 100%;
    
}
.container {
    position: absolute;
    margin-top: 18rem;
    margin-left: -1rem;
    width: 31.3rem;
    
    /* vertical-align: top; */
   
    overflow-y: hidden;
}


.img {
    margin-left: 0rem;
    box-shadow: 0px 5px 6px 0px #b1b1b1;
    width: max-content;
    height: 37.5rem;   
    overflow-y: hidden;
}
.name {
    margin-left: 28rem;
    margin-top: 15.1rem;
    font-size: 3rem;
    width: max-content;
    font-family: Helvetica;
    font-weight: bolder;
    color:rgb(35, 35, 35);
    transition: 0.2s;
    margin-bottom: -2rem;
}
.name:hover {
    color:rgb(75, 75, 75);
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 35rem;
    margin-left: 7rem;
    font-family: Helvetica;
    color:rgb(35, 35, 35);
    font-size: 2rem;
}

.rating {
    margin-left: 3.8rem;
    margin-top: -0.5rem;
    z-index: 0;
}
.descriptionText{
    margin-left: 28.3rem;
    text-align: left;
    font-size: 17px;
    width: 30rem;
    margin-bottom: 4rem;
}

.addAmount {
    margin-left: 4rem;
    margin-top: -2.5rem;
}

.amountInput {
    width: 4rem;
    height: 2rem;
    margin: 0.7rem 0.7rem;
    -webkit-appearance: none !important;
    appearance: none !important;
    -moz-appearance: textfield !important;
    font-size: 30px;
}
.add {
    height: 3rem;
    margin-top: -1.9rem;
    width: 35rem;
    margin-left: 27rem;
    padding-bottom: 3.3rem;
    border-radius: 0.2vh;
}
.reviewsHeader {
    font-size: 26.5px;
    text-align: left;
}
.reviews {
/*     margin-top: 80rem;
    position: absolute; */
    font-family: Helvetica;
    margin-top: 2rem;
    
    width: 34.8rem;    
    margin-left: 28.2rem;
    padding-bottom: 6rem;
}