
.categories{
    display: flex;
    flex-direction: row;
    width: 15rem;
    align-items:flex-start;
    justify-content: space-between;
    /*position: absolute;*/
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: manrope-regular;
    font-weight: bold;
    /*
    top:-0.6rem;*/
    transition: 0.3s;

}

.activeCategory  {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
    user-select: none;
}
.activeCategory:hover{
    transform: skew(-15deg);

}
.catBtn a{
    color: rgb(255, 255, 255);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    user-select: none;
}

.catBtn:hover a{
    background-color: rgb(187, 187, 187);
    color:black;
}
.logo {
    /*display: inline-flex;*/
    display: flex;
    /*flex-direction: row;
    margin: 0 auto;
    position: absolute;
    justify-content: right;
    height: 3rem;
    padding-bottom: 1.1rem;
    top: -1.6rem;
    margin-top: .3rem;*/
    color: rgb(255, 255, 255);
    font-family: oktaneue-regular;
    font-size:2.3rem;
    transition: 0.3s;
    user-select: none;
    align-items: center;
}

.logo h3 {
    margin: 0;
}

.logo:hover {
    transform: skew(-15deg);
    color: rgb(255, 239, 21);
    /*height: 2.5rem;*/
}


/* buttons */
.bodyLinks {
    display: inline-flex;
    width: 35%;
    /*padding-top: 2rem;*/
    margin: 6px 0;
    font-weight: lighter; 
   
    /*margin-left: -53rem;*/
}

.activeBtn {
    color:rgb(255, 239, 21);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
}

.activeBtn:hover {
    color: rgb(0, 0, 0);
}

.btn {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bolder;
    user-select: none;

}

.btn:hover {
    color: rgb(0, 0, 0);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.btnBoxSize {
    transition: 0.3s;
}

.btnBoxSize:hover {
    transform: skew(-10deg);
}

.userBtnBodyIn {
    display: flex;
    flex-direction: row;
    /*top:-0.5rem;
    right:0;*/
    justify-content: space-between;
    width: 11rem;
    height: 3rem;
    /*margin-right: 15rem;
    position: absolute;*/
    user-select: none;
}
.userBtnBodyOut {
    display: flex;
    flex-direction: row;
    /*top:-0.5rem;
    right:0;*/
    justify-content: space-between;
    width: 11rem;
    height: 3rem;
    /*margin-right: 15rem;
    position: absolute;*/
    user-select: none;
}

.userBtn {
    height: 2.8rem;
    transition: 0.3s;
}

.userBtn:hover {
    height: 3.3rem;
}

.searchBar {
    display: inline-flex;
    /*position: absolute;*/
    position: relative;
    /*margin-top: -2rem;
    margin-left: 30.5rem;*/
    padding-right: 5rem;
}


.searchInput {
    background-color: #e6e4e4;
    color: #b1b1b1;
    text-indent: 0.3rem;
    font-family: Helvetica;
    font-size: 20px;
    border-style: none;
    border: none;
    border-color: none;

}

.navBar {
    display: flex;
    flex-direction: column;
   /*  background-color: rgb(232, 85, 85); */
   
   background: rgb(147,85,139);
   background: linear-gradient(90deg, rgba(147,85,139,1) 20%, rgba(205,212,36,1) 100%);
  
   border-bottom: 1px white solid;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    overflow-y: hidden;
}

.noDisplay {
    display: none;
}

.topContents {
    display:flex;
    justify-content: space-evenly;
    padding: .3rem 0;
    width: 100%;
}

.bottomContents {
    display: flex;

    padding: 0 4rem;
    padding-right: 1rem;
    justify-content: space-around;
    align-items: center;
}